.ligth-box {
    width: 100%;
    height: 100vh;
    margin-top: 55px;
    z-index: 2;
    position: fixed;
    top: 0;

    .test {
        position: relative;
        top: 5%;
        left: 25%;
        width: 50%;
        height: 85%;
        border: 1px solid white;
        border-radius: 4px;

        img {
            width: 100%;
            height: 100%;
        }

        .anticon {
            svg {
                width: 30px;
                height: 30px;
                color: #0dcaf0;
            }
        }

        .anticon-close-circle {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .anticon-right-circle {
            position: absolute;
            right: 10px;
            top: 50%;
        }

        .anticon-left-circle {
            position: absolute;
            left: 10px;
            top: 50%;
        }

        button {
            &:disabled {
                cursor: not-allowed;
            }
        }
    }
}

@media (max-width: 1400px) {
    .ligth-box {
        .test {
            left: 20%;
            width: 60%;
        }
    }
}

@media (max-width: 768px) {
    .ligth-box {
        .test {
            left: 10%;
            width: 80%;
        }
    }
}