.home-view {
  background: url("../../../public/img/background.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;

  .container {
    font-size: calc(2.7vw + 2vh);
    text-align: center;
    font-style: oblique;
    display: flex;
    height: calc(100% - 80px);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .home-view{
    .container{
      font-size: calc(3.4vw + 2vh);
    }
  }
}

@media (max-width: 420px) {
  .home-view{
    div{
      font-size: calc(4vw + 2vh);
    }
  }
}