header {
  .navbar {
    background: rgba(136, 93, 0, 0.849) !important;
    padding-left: 50px;
    padding-right: 50px;
  }

  .dropdown {
    display: none;
  }

  .dropdown-toggle {
    background-color: rgb(145, 94, 0) !important;
    border: none !important;
  }

  .me-auto {
    margin-left: auto;
    margin-right: 0 !important;

    a {
      color: white !important;
    }
  }
}

@media (max-width: 768px) {
  header {
    .me-auto {
      display: none;
    }

    .dropdown {
      display: unset;
    }

    .navbar {
     justify-content: space-between;
    }
  }
}