header{
    .navbar{
        overflow: hidden;
        position: fixed;
        width: 100%;
        top: 0px;
        height: 60px;
    }
    .me-auto{
        margin-left: auto;
        margin-right: 0 !important;
    }
}